<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ocwvar.xlocker"
          tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">

    <!--读取配置文件-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--写入日志文件-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--显示锁定界面-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <!--这里配置无障碍服务-->
        <service
                android:name=".service.RunningApplicationChecker"
                android:enabled="true"
                android:exported="true"
                android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/accessibility"/>

        </service>

    </application>

</manifest>
